.benefits {
    padding-bottom: 94px;
}

.benefits__title {
    margin-left: 70px;
    font-size: 150px;
    font-weight: 700;
    line-height: 1.07;
    color: #89BF19;
}

.benefits__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 30px;
}