.logo__footer{
    max-height: 40px;
    object-fit: contain;

    @media screen and (max-width: 1199px) {
    width: 269px;
    max-height: 59px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    margin-bottom: 10px;
    }
}

.footer__adress{
    

    background-color: #222229;
    
    @media screen and (min-width:1000px) {
        display: flex;
        height: 110px;
        justify-content: space-between;
        align-items: center;
    }
}

.footer__adress-list {
    @media screen and (max-width:999px) {
        margin: 0;
        padding: 20px 0;
    }
}

.footer__adress-list:nth-last-child(n+2){
    @media screen and (max-width:999px) {
    border-bottom: 1px solid #54546B;
    padding-bottom: 24px;
    }
    
    @media screen and (min-width:1000px) {
    border-right: 1px solid #54546B;
    padding-right: 44px;
    }
}

.footer__adress-title{
    color: #FFF;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 400;

    margin-bottom: 8px;
}

.footer__adress-subtitle{
    color: #D7D7D7;
    font-size: 14px;
    line-height: 1.25;
}

.footer__content{
    margin: 0;

    color: #8A8AA7;
    font-size: 16px;

    background: #333343;
    text-align: justify;

    padding-top: 23px;
    padding-bottom: 30px;
}

.footer__content-second{
    margin-top: 27px;
    font-size: 14px;
}


.footer__documents{
    
    padding: 10px 50px;

    background-color: #89BF19;
    text-align: center;

    font-size: 16px;
    color: #FFF;

    @media screen and (min-width:1200px) {
        padding: 10px 200px;

    }

    @media screen and (min-width:768px) and (max-width:1200px) {
        padding: 10 100px;
    }
}

.documents__title{
    text-align: center;

    color: #fff;
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
}

.documents__list{
    justify-content: space-between;

        list-style-type: disclosure-closed;
    

    @media screen and (min-width:768px) {
        display: flex;
    }


}

.documents__item{
    text-align: left;
    text-decoration:underline;
}

.risk_links{
    text-decoration: underline;
    color: #00a2ff;
}
