.logo__footer{
    width: 300px;
    height: 100px;

    @media screen and (max-width:767px) {
        width: 269px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    margin-bottom: 10px;
    }
}

.footer__adress{
    

    background-color: #222229;
    
    @media screen and (min-width:768px) {
        display: flex;
        height: 153px;
        justify-content: space-between;
        align-items: center;
    }
}

.footer__adress-list {
    @media screen and (max-width:767px) {
        margin: 0;
        padding: 20px 0;
    }
}

.footer__adress-list:nth-last-child(n+2){
    @media screen and (max-width:767px) {
    border-bottom: 1px solid #54546B;
    padding-bottom: 24px;
    }
    
    @media screen and (min-width:768px) {
    border-right: 1px solid #54546B;
    padding-right: 44px;
    }
}

.footer__adress-title{
    color: #FFF;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 400;

    margin-bottom: 8px;
}

.footer__adress-subtitle{
    color: #D7D7D7;
    font-size: 16px;
    line-height: 1.25;
}

.footer__content{
    margin: 0;

    color: #8A8AA7;
    font-size: 16px;

    background: #333343;
    text-align: justify;

    padding-top: 23px;
    padding-bottom: 30px;
}

.footer__content-second{
    margin-top: 27px;
    font-size: 14px;
}


.footer__documents{
    padding: 10px 100px 5px 100px;

    background-color: #89BF19;
    text-align: center;

    font-size: 16px;
    color: #FFF;
}

.documents__title{
    text-align: center;

    color: #fff;
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
}

.documents__list{
    justify-content: space-between;

    list-style-type: disclosure-closed;

    @media screen and (min-width:768px) {
        display: flex;
    }
}

.documents__item{
    text-align: left;
    text-decoration:underline;
}


