header{
   position: sticky;
   top: 0;
   z-index: 99999; 
}

.mobile__menu{
    background-color: #222229;
    
   
}

.mobile__menu-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    height: 64px;
    padding: 0 10px;

    @media screen and (min-width: 768px) {
          display: none;
    }
}

.mobile__button {
    background-color: transparent;
    border: 0px;
}



.header__container {

    padding: 0 100px 0 100px;
    
    display: flex;
    background-color: #222229;
    align-items: center;
    justify-content: space-between;
    height: 80px;

    @media screen and (max-width: 768px)  {
        display: none;
    }
}



.logo {
    height: 52px;
    object-fit: contain;
    @media screen and (max-width:768px) {
        height: 42px;
        width: 135px;
    }
}

.header__navigation-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 46px;
    color: #fff;
}

.header__navigation-item{
    text-decoration-color:#337224;
}

.header__navigation-item:hover{
    text-decoration: underline;
}

.header__links-list {
    display: flex;
    align-items: center;
    gap: 16px;
}

.header__links-icon{
    display: flex;
    gap: 9px;
    color: #fff;
 
}

.header__links-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 44px;
    background-color: #313137;
    border-radius: 40px;
}

.header__links-item:hover{
    background-color: #4B4B5C;
}

.headerStore {
    @media screen and (min-width:767px){
        display: none;
    }
}

.mobileButton {
    width: 150px;
    background: linear-gradient(180deg, #50B03A 0%, #3A9126 100%), #3A9126;
    height: 40px;
    text-align: center;

    font-size: 14px;
}

.mobileIcon{
    width: 150px;
    height: 40px;
    background: #4b4b5c;
    border-radius: 40px;
    justify-content: center;
    align-items: center;

    font-size: 14px;
}

.header__links-item.openButton {
    width: 150px;
    background: linear-gradient(180deg, #50B03A 0%, #3A9126 100%), #3A9126;
}

.header__links-item.openButton:hover{
    background: linear-gradient(180deg, #337224 0%, #3A9126 100%);
}



