.hero__container {
    
    @media screen and (min-width:1199px) {
    display: flex;
    height: 832px;
    }
}

.hero__wrapper {
    background: #F6F7F8;
    display: grid;
    align-items: center;
    justify-content: center;

    @media screen and (max-width:1199px) {
        padding-bottom: 54px;
    }

    @media screen and (min-width:1199px) {
    width: 50vw;
    }
}

.hero__list{
    @media screen and (max-width:1199px) {
        margin-bottom: 0;
        justify-content: center;
    }
}



.hero__title {
    align-items: center;
    color: #333343;
    font-size: 48px;
    line-height: 1.16;
    z-index: 999;

    @media screen and (max-width:1199px){
        font-size: 30px;
        line-height: 1.2;
        font-weight: 700;

        margin-top: 15px;
        text-align: center;
    }
}

.hero__title-green {
    color: rgba(137, 191, 25, 1);
}

.hero__disclore{
    font-size: 10px;
    padding: 10px;
    width: 300px;
    margin-top: 50px;
    text-align: justify;
    background-color: rgba(137, 191, 25, 1);
    border-radius: 10px;
    color: #fff;
  

    @media screen and (max-width:1199px) {
    max-width: 600px;
    width: 100%;
        margin-right: auto;
        margin-left: auto;
    }
}

.main__image-mobile{
    @media screen and (min-width:767px) {
        display: none;
    }
}

.main__image-desktop {
    width: 100%;
    height: 100%;
    position: relative;
    object-fit: contain;
    
    @media screen and (max-width:1200px) {
        display: none;
    }
    @media screen and (min-width:1200px) {
        top: 100px;
        left: -120px;
    }

    
}

.main__image-tablet {
    display: none;
    @media screen and (min-width:768px) and (max-width:1199px) {
        position: relative;
        display: block;
        top: -50px;
        left: 0px;
        width: 100vw;
        margin-left: auto;
        margin-right: auto;
        background-size: cover;
        width: 90vw;
    }
}

.main__image-tabletWrapper {
    content: "";
    display: none;

    @media screen and (min-width:768px) and (max-width:1199px) {
    margin-top: 100px;
    display: block;
    background-image: url('../images/Rectangle.png');
    background-size: cover;
    width: 100vw;
}
}


.main__image-wrapper {
    content: "";
    background-color: #F6F7F8;
    width: 100%;
    
    
    @media screen and (min-width:1199px) {
    background-image: url('../images/Rectangle.png');
    background-color: transparent;
    width: 50vw;
    }

}

.platforms__store.headerStore {
    margin-top: 5px;
    
    @media screen and (min-width:1199px){
        display: none;
    }
}

.hero__text.container{
    @media screen and (min-width:767px) and (max-width:1199px) {
        padding: 0;
    }
}

