::selection {
    color: #5C5C79;
    background: #fff;
  }
  
  body {
    font-family: Montserrat, normal;
    color: #5C5C79;
    font-size: 16px;
  }
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
  }
  
  a {
    text-decoration: none;
  }
  
  ul {
    list-style: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
    font-size: 16px;
    font-weight: 400px;
    line-height: 1.25;
  }
  
  .container {
    @media screen and (max-width:767px) {
      width: auto;
    }

    @media screen and (min-width: 768px) {
      padding: 0 100px 0 100px;
      margin-top: 133px;
      margin: 0;
      padding-left: 50px;
      padding-right: 50px;
    }  
  }