.risk-warning{
    bottom: 0px;
    color: white;
    padding: 5px 5px 5px 40px;
    background: rgba(35, 35, 35, 0.97);
    text-align: center;
    position: fixed;
    z-index: 5;
}

.risk-green{
    
}

.risk-text{
    font-size: 14px;
}

.risk-links{
    text-decoration: underline;
    color: #00a2ff;
}